[data-md-color-scheme="vaccel"] {
  --md-primary-fg-color: #841a6b;
  --md-primary-fg-color--light: #a62b89;
  --md-primary-fg-color--dark: #5e0d4f;

  /*--md-accent-fg-color: #f96e3e;*/
  --md-accent-fg-color: hsla(15, 94%, 61%, 1);
  --md-accent-fg-color--transparent: hsla(15, 94%, 61%, 0.1);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #5e0d4f;
  --md-primary-fg-color--light: #841a6b;
  --md-primary-fg-color--dark: #410635;

  /*--md-accent-fg-color: #f96e3e;*/
  --md-accent-fg-color: hsla(15, 94%, 61%, 1);
  --md-accent-fg-color--transparent: hsla(15, 94%, 61%, 0.1);

  /*--md-hue: 311; *//* [0, 360] */
}

/*
@media screen {
  [data-md-color-scheme="slate"][data-md-color-primary="purple"] {
    --md-typeset-a-color: #d661be;
  }
}
*/

.md-nav__title .md-nav__button.md-logo img {
  height: 2rem;
}
