name: Build and Deploy to Github Pages

on:
  push:
    branches: [main]
    tags: ["v*"]

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
#  cancel-in-progress: true

jobs:
  build-and-deploy:
    name: Build and Deploy
    uses: ./.github/workflows/build-and-deploy.yml
    with:
      deploy: true
    secrets: inherit
